<link href="https://fonts.googleapis.com/css?family=Assistant:200&display=swap" rel="stylesheet">
.css-selector {
font-family: 'Assistant', serif;
}

body {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
}
q {
  text-align: center;
  color: white;
  font-family: 'Assistant', arial, sans-serif;
  font-style: normal;
  font-size: 60px;
}
cite {
  text-align: center;
  color: white;
  font-family: arial, sans-serif;
  font-style: normal;
  font-size: 30px;
}
* {
  text-align: center;
  color: white;
  font-family: arial, sans-serif;
  font-style: normal;
  font-size: 10px;
}
